*.dll
/.vs
/ManagerStudentCaltholic/obj
docker-compose.override.yml
*.pdb
*.exe
*.log
parish-web-app_key.pem
ManagerStudentCaltholic/appsettings.Development.json
ManagerStudentCaltholic/bin/Debug/net8.0/appsettings.Development.json
